.colorI{
    background-color:rgb(9, 104, 113);
    color: white;
}
.colorE{
    background-color:rgb(143, 197, 202);
}
.another{   
    background-color:rgb(9, 104, 113);
    text-align: center;
    color: white;
}